<div class="container">
  <h1>New List</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :poster, as: :file %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Comeback to the lists", lists_path %>
</div>
